# Choose one auth mode: msal | none | gcp
VITE_AUTH_MODE=none

# Generic FHIR endpoint settings
VITE_FHIR_BASE_URL=http://localhost:8080/fhir
VITE_FHIR_USE_PARTITIONS=false
VITE_FHIR_PARTITION_ID=nchie
VITE_FHIR_PARTITIONS_LIST=nchie.payer.clinical
VITE_FHIR_PARTITION_MAP_URL=/config/partition-resource-map.json
VITE_FHIR_SEARCH_COUNT=50

# MSAL settings (used when VITE_AUTH_MODE=msal)
VITE_APP_BCNC_CLIENT_ID=
VITE_APP_BCNC_AUTHORITY=https://login.microsoftonline.com/
VITE_APP_BCNC_TENANT_ID=
VITE_APP_BCNC_SCOPE=

# Google Cloud settings (used when VITE_AUTH_MODE=gcp)
VITE_GCP_CLIENT_ID=
VITE_GCP_SCOPES=https://www.googleapis.com/auth/cloud-platform
